<!doctype html>
<html>
	<head>
		<title>Auction System</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		{% load static %}  
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="{% url 'home-view' %}">Online Auction System</a>
		    </div>
		    <ul class="nav navbar-nav">
		    	{%if request.session.isadmin %}<li><a href="#">Users List</a></li>{%endif %}
		    	<li><a href="{% url 'products-list-view' %}">Products List</a></li>
		      	<li><a href="{% url 'upload-product-view' %}">Upload Product</a></li>
		      	<!-- <li><a href="#">Bid Product</a></li> -->
		      	<li><a href="{% url 'purchases-view' %}">View Purchases</a></li>		      
		    </ul>
		  </div>
		</nav>
		<p>
		{% block content%}
		Hello {{username}} <br/> 
		{% endblock %}
		</p>
	</body>	
</html>

